
/* JetBrains Mono */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Noto Emoji */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
    --md-text-font-family: "Roboto";
    --md-code-font-family: "JetBrains Mono";
    --code-font: "JetBrains Mono";
    --line-height: 1.5 !important;
}

body {
    font-family: var(--md-text-font-family);
}

code {
    font-variant-ligatures: normal;
    font-family: var(--code-font) !important;
    font-size: 0.725rem !important;
}

pre > code {
    font-family: var(--code-font);
    font-size: 0.76rem !important;
    line-height: var(--line-height);
    font-variant-ligatures: normal;
}

.admonition {
    font-size: 0.725rem !important;
}

td {
    font-size: 0.75rem !important;
}