:root {
    --background: #14161E;
    --foreground: #EBEBEB;
    --black:      #1A1D27;
    --red:        #FB7DA7;
    --green:      #76C5A4;
    --yellow:     #FDAD5D;
    --blue:       #80B0E0;
    --magenta:    #AF98E6;
    --cyan:       #51C7DA;
    --white:      #D7D7D7;
    --grey:       #494C59;
}

/* DARK (normal) THEME */

[data-md-color-scheme="slate"] pre.ucl-code {
    font-family: var(--code-font);
    background-color: var(--background);
    color: var(--foreground);
    padding: .7720588235em 1.1764705882em;
}

[data-md-color-scheme="slate"] span.node-key {
    color: var(--blue);
}

[data-md-color-scheme="slate"] span.variable {
    color: var(--cyan);
}

[data-md-color-scheme="slate"] span.delim {
    color: var(--grey);
}

[data-md-color-scheme="slate"] span.ident {
    color: var(--cyan)
}

[data-md-color-scheme="slate"] span.keyword {
    color: var(--magenta);
}

[data-md-color-scheme="slate"] span.funcall {
    color: var(--blue);
}

[data-md-color-scheme="slate"] span.string {
    color: var(--green);
}

[data-md-color-scheme="slate"] span.constant {
    color: var(--yellow);
}

/* LIGHT (abnormal, unreasonable, strange, wierd) THEME */

[data-md-color-scheme="default"] pre.ucl-code {
    font-family: var(--code-font);
    background-color: #f5f5f5;
    color: var(--background);
    padding: .7720588235em 1.1764705882em;
}

[data-md-color-scheme="default"] span.node-key {
    color: #d73a49;
}

[data-md-color-scheme="default"] span.variable {
    color: #6f42c1;
}

[data-md-color-scheme="default"] span.delim {
    color: var(--black);
}

[data-md-color-scheme="default"] span.ident {
    color: var(--black);
}

[data-md-color-scheme="default"] span.keyword {
    color: #6f42c1;
}

[data-md-color-scheme="default"] span.funcall {
    color: #d73a49;
}

[data-md-color-scheme="default"] span.string {
    color: #032f62;
}

[data-md-color-scheme="default"] span.constant {
    color: #d73a49;
}